openapi: 3.2.0
info:
  title: Trueproxies Me API
  version: 1.0.0
  description: 'Operations tagged Me across 2 of this provider''s published API definitions: trueproxies-customer-api-openapi.json, trueproxies-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trueproxies.com
tags:
- name: Me
paths:
  /v1/me:
    get:
      description: Return the account associated with this key.
      operationId: get_v1_me
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
          description: ok
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
      security:
      - customerAPIKey: []
      summary: Get your account
      x-api-key-scope: services:read
      x-required-scope: services:read
      tags:
      - Me
    servers:
    - url: https://api.trueproxies.com
components:
  schemas:
    Error:
      properties:
        code:
          enum:
          - BAD_REQUEST
          - UNAUTHENTICATED
          - FORBIDDEN
          - NOT_FOUND
          - CONFLICT
          - RATE_LIMITED
          - SERVICE_UNAVAILABLE
          - OFFER_UNAVAILABLE
          - CITY_UNAVAILABLE
          - CAPACITY_UNAVAILABLE
          - INVOICE_NOT_PAYABLE
          - PROVIDER_ERROR
          - PIPE_UNAVAILABLE
          - TRIAL_NOT_ELIGIBLE
          - EMAIL_UNVERIFIED
          - INTERNAL
          type: string
        details:
          additionalProperties: true
          description: What a client needs to act on the error (ids, flags), never display text.
          type: object
        message:
          type: string
      required:
      - code
      - message
      type: object
    CustomerBilling:
      description: The party an invoice is issued to. Empty strings mean not provided; a name or a company must be present when setting them. Saving requires a country and the address fields required for that country. Existing incomplete profiles remain readable until completed.
      properties:
        address_line1:
          maxLength: 400
          type: string
        address_line2:
          maxLength: 120
          type: string
        city:
          maxLength: 120
          type: string
        company:
          maxLength: 120
          type: string
        country:
          description: Two-letter ISO 3166-1 alpha-2 code.
          pattern: ^([A-Z]{2})?$
          type: string
        name:
          maxLength: 120
          type: string
        postal_code:
          maxLength: 32
          type: string
        state:
          maxLength: 120
          type: string
        vat_id:
          maxLength: 120
          type: string
      type: object
    Me:
      properties:
        affiliate_enabled:
          type: boolean
        billing:
          $ref: '#/components/schemas/CustomerBilling'
        created_at:
          format: date-time
          type: string
        email:
          type: string
        email_verified:
          type: boolean
        id:
          description: Internal API identifier. Use reference for customer-facing display.
          format: uuid
          type: string
        impersonated:
          description: read-only support session (spec §11)
          type: boolean
        reference:
          description: Stable, unique customer-facing reference.
          example: ACC-001001
          pattern: ^ACC-[0-9]{6,}$
          type: string
        reseller_enabled:
          description: Enables reseller customer management, wallet and reseller API operations.
          type: boolean
        role:
          description: Account role. Sub-customers cannot join the affiliate program.
          enum:
          - customer
          - reseller
          - sub
          type: string
        suspended:
          description: the account is suspended; proxies refuse its services and purchases are blocked
          type: boolean
        white_label_enabled:
          description: Enables white-label store access. Requires reseller_enabled.
          type: boolean
      required:
      - role
      - id
      - reference
      - email
      - email_verified
      - created_at
      type: object
  responses:
    Error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: error
  securitySchemes:
    customerAPIKey:
      bearerFormat: API key
      description: 'Send Authorization: Bearer tp_api_… . Create a named, scoped key in the customer dashboard. Keys expire after 30, 90 or 365 days and can be revoked immediately.'
      scheme: bearer
      type: http
x-refined-from:
- trueproxies-customer-api-openapi.json
- trueproxies-openapi.yml
